# JWT
APP_SECRET =''

# Mongo DB
MONGODB_URI=""

# RabbitMQ configuration
MSG_QUEUE_URL=""
EXCHANGE_NAME=""


CHAT_QUEUE_NAME=""
USER_QUEUE_NAME=""
CHAT_USER_KEY = ""
USER_CHAT_KEY = ""

# Port
PORT=5000

# SMTP Details
SMTP_EMAIL = ""
SMTP_PASS  = ""